build*/
dist/
*.egg-info
.vscode/
sample.pro.user
__pycache__/
bin/
pyvenv.cfg
share/
*.pt
*.engine
*.onnx
*.whl
*.snap
*.dmg
runs/
.DS_Store
._.DS_Store
cache/
logs/
repo/
.flatpak-builder/
*.flatpak
env/
run.py