[Desktop Entry]
Name=Cayenue
Comment=IP Camera Application
Exec=hello
Terminal=false
Icon=io.github.sr99622.Cayenue
StartupWMClass=python3
Type=Application
Categories=Utility
